<div id="home">

<div id="aboutBlurb" style="width:100vw">
	<div class="title">About</div>
	<p>
		BorrowTomorrow is a crowd-sourced sharing platform for users to borrow or lend out items for a brief amount of time in a seemless manner.
		Join us and you will be able to experience all the benefits that we BorrowTmrw can offer.
	</p>
	<%= link_to 'Join Us', new_user_registration_path, class: 'button', style: 'width: 150px; margin-left: auto; margin-right: auto' %>
</div>
	
</div>
<div id="aboutBlurb" class="backgroundgif" style="background-color: white; padding-top: 40px; width:100vw;">

	<div class="title">About</div>
	<!--<img src="http://media.giphy.com/media/LPBYImbgzsKpG/giphy.gif" style="z-index: -1"/>-->
	<p>
		BorrowTomorrow is a crowd-sourced sharing platform for users to borrow or lend out items for a brief amount of time in a seemless manner.
		Join us and you will be able to experience all the benefits that we BorrowTmrw can offer.
	</p>
	<%= link_to 'Join Us', new_user_registration_path, class: 'button', style: 'width: 150px; margin-left: auto; margin-right: auto' %>
</div>
<div id="aboutBlurb" style="background-color: grey; padding-top: 40px; width: 100vw">
	<div class="title">About</div>
	<p>
		BorrowTomorrow is a crowd-sourced sharing platform for users to borrow or lend out items for a brief amount of time in a seemless manner.
		Join us and you will be able to experience all the benefits that we BorrowTmrw can offer.
	</p>
	<%= link_to 'Join Us', new_user_registration_path, class: 'button', style: 'width: 150px; margin-left: auto; margin-right: auto' %>
</div>