<div id="howItWorks">
	<h1>How It Works</h1>
    
    <h2>We believe everyone <em>can</em> win</h2>
    
    <p>You have a high-quality product that you want to lend out. We have a network of curated, reviewed consumers who would be interested in borrowing your product for a pre-specified period of time and returning it in quality condition. Earn while</p>
    
    <h2>How do I lend out my product?</h2>
    
    <p>After you sign up for an account, post your item </p>
</div>