<div id="howItWorks" class="box col-sm-10 col-sm-offset-1">
	<div class="title">How It Works</div>
    
    <div class="subTitle">We believe everyone <em>can</em> win</div>
    
    <p>You have a high-quality product that you want to lend out. We have a network of reviewed consumers who would be interested in borrowing your product for a pre-specified period of time and returning it in guaranteed quality condition.</p>
    
    <p>You need a high-quality product for a short period of time. Why buy when you can borrow? Through our site, gain access to a community of trusted, curated lenders who can meet your needs without breaking the bank.</p>
    
    <div id="flowChart"></div>
    
</div>