/* line 5, /Users/briantotheyanyan/BorrowTomorrow/app/assets/stylesheets/lender_applications.css.scss */
#lenderAppBlurb {
  text-align: center;
  margin: 20px auto 40px auto;
  width: 450px;
}

/************************ EDIT ************************/
/* line 12, /Users/briantotheyanyan/BorrowTomorrow/app/assets/stylesheets/lender_applications.css.scss */
#editLenderAppBox {
  padding: 15px 60px;
}

/* line 17, /Users/briantotheyanyan/BorrowTomorrow/app/assets/stylesheets/lender_applications.css.scss */
form#editLenderApp label {
  text-align: right;
}
